In [1]:
import pandas as pd

In [2]:
file1 = pd.read_parquet("earnings_date=2022-02-14/employee_earnings.parquet")

In [5]:
file2 = pd.read_parquet("earnings_date=2022-02-13/employee_earnings.parquet")

In [3]:
file1

,emp_id,first_name,middle_initial,last_name,email,date_of_birth,date_of_joining,ssn,phone_number,user_name,password,office_branch,earnings
0,526540,Angelique,K,Goodwin,angelique.goodwin@gmail.com,1964-05-15,2001-03-24,471-57-0359,212-884-7146,akgoodwin,z{d>ez%{.@,Nashua,2716
1,859327,Jeni,S,Shaffer,jeni.shaffer@gmail.com,1962-01-13,2015-12-10,624-85-4146,205-665-7020,jsshaffer,7U56!*!O,Stanford,8357
2,887387,Donald,T,Farris,donald.farris@bellsouth.net,1958-04-11,1979-11-12,097-02-3315,205-959-7879,dtfarris,rX.F{j&]&m&&X,Stanford,8123
3,779497,Steven,D,Rendon,steven.rendon@gmail.com,1982-04-04,2008-09-18,134-98-6566,217-858-0054,sdrendon,a+2;sx}<G]y,Nashua,8297
4,896517,Jenell,L,Almanza,jenell.almanza@yahoo.com,1958-07-01,1993-07-14,599-92-7345,314-893-2590,jlalmanza,Ou7RX{yT,New York,2057
...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,549389,Clemente,M,Gould,clemente.gould@hotmail.com,1961-12-31,1992-10-02,271-17-5467,228-485-0919,cmgould,m1%+0ojh7VIvJ,Stanford,7944
96,466832,Chang,K,Roden,chang.roden@yahoo.com,1988-09-07,2010-08-06,074-02-9202,316-256-7851,ckroden,5|Rn]G:#58f$>+S,Nashua,8708
97,203380,Marvin,R,Nickel,marvin.nickel@ibm.com,1986-11-25,2012-10-06,552-99-5545,270-750-7760,mrnickel,8*E[g-_X|,Scranton,7741
98,915991,Eldora,Y,Tribble,eldora.tribble@earthlink.net,1995-05-29,2016-10-17,763-12-2082,236-584-1916,eytribble,z>ms?;$8-u,Nashua,8080
99,289172,Azzie,L,Layman,azzie.layman@hotmail.co.uk,1961-09-06,2004-03-26,637-29-1007,503-456-5899,allayman,k<%?%TML.].1ZY,New York,5868

In [6]:
file2

,emp_id,first_name,middle_initial,last_name,email,date_of_birth,date_of_joining,ssn,phone_number,user_name,password,office_branch,earnings
0,526540,Angelique,K,Goodwin,angelique.goodwin@gmail.com,1964-05-15,2001-03-24,471-57-0359,212-884-7146,akgoodwin,z{d>ez%{.@,Nashua,2843
1,859327,Jeni,S,Shaffer,jeni.shaffer@gmail.com,1962-01-13,2015-12-10,624-85-4146,205-665-7020,jsshaffer,7U56!*!O,Stanford,7280
2,887387,Donald,T,Farris,donald.farris@bellsouth.net,1958-04-11,1979-11-12,097-02-3315,205-959-7879,dtfarris,rX.F{j&]&m&&X,Stanford,4816
3,779497,Steven,D,Rendon,steven.rendon@gmail.com,1982-04-04,2008-09-18,134-98-6566,217-858-0054,sdrendon,a+2;sx}<G]y,Nashua,2466
4,896517,Jenell,L,Almanza,jenell.almanza@yahoo.com,1958-07-01,1993-07-14,599-92-7345,314-893-2590,jlalmanza,Ou7RX{yT,New York,8862
...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,549389,Clemente,M,Gould,clemente.gould@hotmail.com,1961-12-31,1992-10-02,271-17-5467,228-485-0919,cmgould,m1%+0ojh7VIvJ,Stanford,6302
96,466832,Chang,K,Roden,chang.roden@yahoo.com,1988-09-07,2010-08-06,074-02-9202,316-256-7851,ckroden,5|Rn]G:#58f$>+S,Nashua,2682
97,203380,Marvin,R,Nickel,marvin.nickel@ibm.com,1986-11-25,2012-10-06,552-99-5545,270-750-7760,mrnickel,8*E[g-_X|,Scranton,9635
98,915991,Eldora,Y,Tribble,eldora.tribble@earthlink.net,1995-05-29,2016-10-17,763-12-2082,236-584-1916,eytribble,z>ms?;$8-u,Nashua,9786
99,289172,Azzie,L,Layman,azzie.layman@hotmail.co.uk,1961-09-06,2004-03-26,637-29-1007,503-456-5899,allayman,k<%?%TML.].1ZY,New York,4817

In [4]:
numaric_file1 = file1.select_dtypes(include=['float64', 'int64'])
numaric_file1

    emp_id  earnings
0   526540      2716
1   859327      8357
2   887387      8123
3   779497      8297
4   896517      2057
..     ...       ...
95  549389      7944
96  466832      8708
97  203380      7741
98  915991      8080
99  289172      5868

[100 rows x 2 columns]

In [8]:
file1_2_mean_earnings = (file1['earnings'] + file2['earnings']) / 2
file1_2_mean_earnings

0     2779.5
1     7818.5
2     6469.5
3     5381.5
4     5459.5
       ...
95    7123.0
96    5695.0
97    8688.0
98    8933.0
99    5342.5
Name: earnings, Length: 100, dtype: float64

In [9]:
copy_file = file1.copy()

In [11]:
copy_file['earnings'] = file1_2_mean_earnings

In [12]:
copy_file

,emp_id,first_name,middle_initial,last_name,email,date_of_birth,date_of_joining,ssn,phone_number,user_name,password,office_branch,earnings
0,526540,Angelique,K,Goodwin,angelique.goodwin@gmail.com,1964-05-15,2001-03-24,471-57-0359,212-884-7146,akgoodwin,z{d>ez%{.@,Nashua,2779.5
1,859327,Jeni,S,Shaffer,jeni.shaffer@gmail.com,1962-01-13,2015-12-10,624-85-4146,205-665-7020,jsshaffer,7U56!*!O,Stanford,7818.5
2,887387,Donald,T,Farris,donald.farris@bellsouth.net,1958-04-11,1979-11-12,097-02-3315,205-959-7879,dtfarris,rX.F{j&]&m&&X,Stanford,6469.5
3,779497,Steven,D,Rendon,steven.rendon@gmail.com,1982-04-04,2008-09-18,134-98-6566,217-858-0054,sdrendon,a+2;sx}<G]y,Nashua,5381.5
4,896517,Jenell,L,Almanza,jenell.almanza@yahoo.com,1958-07-01,1993-07-14,599-92-7345,314-893-2590,jlalmanza,Ou7RX{yT,New York,5459.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,549389,Clemente,M,Gould,clemente.gould@hotmail.com,1961-12-31,1992-10-02,271-17-5467,228-485-0919,cmgould,m1%+0ojh7VIvJ,Stanford,7123.0
96,466832,Chang,K,Roden,chang.roden@yahoo.com,1988-09-07,2010-08-06,074-02-9202,316-256-7851,ckroden,5|Rn]G:#58f$>+S,Nashua,5695.0
97,203380,Marvin,R,Nickel,marvin.nickel@ibm.com,1986-11-25,2012-10-06,552-99-5545,270-750-7760,mrnickel,8*E[g-_X|,Scranton,8688.0
98,915991,Eldora,Y,Tribble,eldora.tribble@earthlink.net,1995-05-29,2016-10-17,763-12-2082,236-584-1916,eytribble,z>ms?;$8-u,Nashua,8933.0
99,289172,Azzie,L,Layman,azzie.layman@hotmail.co.uk,1961-09-06,2004-03-26,637-29-1007,503-456-5899,allayman,k<%?%TML.].1ZY,New York,5342.5

In [13]:
copy_file.to_parquet(
    'earnings_date=2022-02-15/employee_earnings.parquet', index=False)

In [23]:
def fileGenerator(file1, file2, fileSavePath):
    file1 = pd.read_parquet(file1)
    file2 = pd.read_parquet(file2)
    file1_2_mean_earnings = (file1['earnings'] + file2['earnings']) / 2
    copy_file = file1.copy()
    copy_file['earnings'] = file1_2_mean_earnings
    copy_file.to_parquet(fileSavePath, index=False)

In [24]:
fileGenerator("earnings_date=2022-02-11/employee_earnings.parquet", "earnings_date=2022-02-12/employee_earnings.parquet", "earnings_date=2022-02-16/employee_earnings.parquet")